<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hale_MRI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Hale_MRI.My.MySettings>
            <setting name="DbConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationDefaultFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="EncoderDataDefaultFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="EncoderDefaultSampleInterval" serializeAs="String">
                <value />
            </setting>
            <setting name="EncoderMaxSamplesPerScan" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyPhone" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyContact" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyWebsite" serializeAs="String">
                <value />
            </setting>
            <setting name="CompShowTrack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompKeepForComp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompGraphEntireScan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompOneBlade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompReferenceBlade" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CompBladeorRad" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CompSections" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CompSpline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompCenterRef" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompAxesScaling" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="GraphSelectedChart" serializeAs="String">
                <value>Summary</value>
            </setting>
        </Hale_MRI.My.MySettings>
    </userSettings>
</configuration>
